<body data-spy="scroll" data-target=".navbar" data-offset="200">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='preloader'>
            <div class='loaded'>&nbsp;</div>
        </div>

        <div class="culmn">
            <header id="main_menu" class="header navbar-fixed-top">            
                <div class="main_menu_bg">
                    <div class="container">
                        <div class="row">
                            <div class="nave_menu">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href="#home">
                                                <img src="assets/images/mylogo.png"/>
                                            </a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->



                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                            <ul class="nav navbar-nav navbar-right">
                                                <li><a href="#home">HOME</a></li>
                                                <li><a href="#">ABOUT</a></li>
                                                <li><a href="#">CONTACT</a></li>
                                                <li><a href="#Blog">BLOG</a></li>
                                            </ul>


                                        </div>

                                    </div>
                                </nav>
                            </div>	
                        </div>

                    </div>

                </div>
            </header> <!--End of header -->





            <section id="home" style="background-size: cover; 
                                    background-image: url(https://firebasestorage.googleapis.com/v0/b/thandothedev.appspot.com/o/slider_images%2Fimage02.jpg?alt=media&token=b18d56f8-01d5-4e5c-9177-47afc642485e)" class="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="main_home_slider text-center">
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h1>WEB DEVELOPER</h1>
                                            <p>I am a web developer based in Toronto. I specialize in Front-end and Backend development. If you are looking for a web application, click to learn more.</p>
                                            <div class="home_btn">
                                                <a href="#" class="btn btn-primary">LEARN MORE</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h1>FRONT-END DEVELOPER</h1>
                                            <p>I am experienced in building front-end web applications using the most popular technologies. Click to learn more about front end development.</p>
                                            <div class="home_btn">
                                                <a href="#" class="btn btn-primary">LEARN MORE</a>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="single_home_slider">
                                        <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                            <h1>BACK-END DEVELOPER</h1>
                                            <p>I have experience working with server-side applications, developing from ground up and maintenance. To learn more and see some of the work I have done click below.</p>
                                            <div class="home_btn">
                                                <a href="#" class="btn btn-primary">LEARN MORE</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>



            <section id="service" class="service">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_service_area">
                                <div class="main_service_content">
                                    <div class="service_tabe">
                                        <!-- Nav tabs -->
                                        <ul class="service_tabe_menu nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href="#webdesign" aria-controls="webdesign" role="tab" data-toggle="tab"><i class="fa fa-flag"></i> <br />REACT JS</a></li>
                                            <li role="presentation"><a href="#appdesign" aria-controls="appdesign" role="tab" data-toggle="tab"><i class="fa fa-flag"></i> <br />NODE JS</a></li>
                                            <li role="presentation"><a href="#graphicdesign" aria-controls="graphicdesign" role="tab" data-toggle="tab"><i class="fa fa-flag"></i> <br />GOOGLE CLOUD</a></li>
                                            <li role="presentation"><a href="#gamedesign" aria-controls="gamedesign" role="tab" data-toggle="tab"><i class="fa fa-flag"></i> <br />RUBY ON RAILS</a></li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="webdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>REACT JS</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p> React enables developers to declaratively describe their User Interfaces and model the state of those interfaces. This means instead of coming up with steps to describe transactions on interfaces, developers just describe the interfaces in terms of a final state (like a function). When transactions happen to that state, React takes care of updating the User Interfaces based on that.</p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <br>
                                                            <div class="single_tab_img">
                                                                <img src="assets/images/react.png" alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="appdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>NODE JS</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>Node.js is a server-side JavaScript runtime that has become extremely popular over the years. For much of its life, Node.js embedded the V8 engine as the only option to run JavaScript code. This meant that to squeeze the best performance out of their applications, developers often tailored their code to the specific version of V8 in a given release. This is not only true for applications written for Node.js, but for Node.js core itself, which implements a lot of the features of Node.js using JavaScript. </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <br>
                                                            <div class="single_tab_img">
                                                                <img src="assets/images/node.png" alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="graphicdesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>GOOGLE CLOUD PLATFORM & FIREBASE</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p>If you’ve ever used Google App Engine, you know it’s one of the fastest ways to get from idea to working prototype. As long as you conform to the sandbox restrictions, you don’t need to set up servers, install packages, or do any of the tedious DevOps tasks that slow you down.

                                                                        With the introduction of the App Engine Flexible Environment (formerly known as Managed VMs), Google lifted many of the sandbox restrictions and added more built-in runtimes including Node.js and Ruby. You can even customize everything by specifying your own Dockerfile! </p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <br><br>
                                                            <div class="single_tab_img">
                                                                <img src="assets/images/googleCloud.png" alt="" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="gamedesign">
                                                <div class="single_service_tab">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="single_tab_content">
                                                                <div class="head_title">
                                                                    <h3>RUBY ON RAILS</h3>
                                                                    <div class="separator"></div>
                                                                </div>
                                                                <p> Ruby on Rails is an awesome framework for quickly and easily setting up a web application. When you generate a new Rails application, by default some gems are added for you to work with. Gems are like plugins or libraries with some functionality, installed to satisfy specific needs. There is almost a gem for everything you may want to do. Later on, I'll write an article that explains what gems are.</p>

                                                                <a href="" class="btn btn-primary">LEARN MORE</a>
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6">
                                                            <br>
                                                            <div class="single_tab_img">
                                                                <img src="assets/images/ruby-on-rails.png" alt="" />
                                                            </div>
                                                        </div>
                                                        <!--                                                        <div id="pentagon"></div>-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

           
            <!-- [ ABOUT LOGIC ] -->
            <section id="about" class="about">
                <div class="container">
                       
                    <div class="row">
                            <hr style="position: relative; top: 40px;">
                        <div class="main_about_area sections">
                            <div class="col-sm-12">

                                <div class="main_about_content">
                                   
                                    <div class="row">
                                        <div class="about_skill_area">
                                            <div class="col-sm-6">
                                                <div class="about_tabe">
                                                    <!-- Nav tabs -->
                                                    <ul class="about_tabe_menu" role="tablist">
                                                        <li role="presentation" class="active"><a href="#mission" aria-controls="mission" role="tab" data-toggle="tab">OUR MISSION</a></li>
                                                        <li role="presentation"><a href="#goal" aria-controls="goal" role="tab" data-toggle="tab">OUR GOAL</a></li>
                                                        <li role="presentation"><a href="#achivements" aria-controls="achivements" role="tab" data-toggle="tab">ACHIVEMENTS</a></li>
                                                    </ul>

                                                    <!-- Tab panes -->
                                                    <div class="tab-content">
                                                        <div role="tabpanel" class="tab-pane active" id="mission">
                                                            <div class="single_about_tab">
                                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                                    when an unknown printer took a galley type a scrambled it to make a type specimen book. 
                                                                    It has survived not only five centuries,</p>

                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="goal">
                                                            <div class="single_about_tab">
                                                                <p>222Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                                    when an unknown printer took a galley type a scrambled it to make a type specimen book. 
                                                                    It has survived not only five centuries,</p>

                                                                 
                                                            </div>
                                                        </div>
                                                        <div role="tabpanel" class="tab-pane" id="achivements">
                                                            <div class="single_about_tab">
                                                                <p>333Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                                                    when an unknown printer took a galley type a scrambled it to make a type specimen book. 
                                                                    It has survived not only five centuries,</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="about_skill">
                                                    <h3 style="font-family: cursive;">Time Spent In A Week Working On These Technologies</h3>
                                                    <div class="skillbar" data-percent="79%">
                                                        <div class="skillbar-title"><h3 class="blue">REACT JS</h3><span class="sm-text">79%</span></div>
                                                        <div class="skillbar-bar blue"></div>
                                                    </div>

                                                    <div class="skillbar" data-percent="50%">
                                                        <div class="skillbar-title"><h3 class="blue">GOOGLE CLOUD PLATFORM</h3><span class="sm-text">50%</span></div>
                                                        <div class="skillbar-bar blue"></div>
                                                    </div>

                                                    <div class="skillbar" data-percent="80%">
                                                        <div class="skillbar-title"><h3 class="blue">NODE JS</h3><span class="sm-text">80%</span></div>
                                                        <div class="skillbar-bar blue"></div>
                                                    </div>

                                                    <div class="skillbar" data-percent="70%">
                                                        <div class="skillbar-title"><h3 class="blue">RUBY ON RAILS</h3><span class="sm-text">70%</span></div>
                                                        <div class="skillbar-bar blue"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>
            <div class="container"><hr style="position: relative; top: 20px;"></div>

            <section id="othersservice" class="othersservice">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_othersservice_area sections">
                                <div class="row">
                                    <div class="head_title">
                                        <h3>_.SKILLS AND LANGUAGES</h3>
                                        <div class="separator"></div>
                                    </div>

                                    <div class="main_othersservice_content">
                                        <div class="col-sm-4">
                                            <div class="single_othersservice">
                                                <div class="single_othersservice_icon">
                                                    <h4><span><i class="fa fa-clock-o"></i></span> TIME EFFICIENT</h4>
                                                </div>
                                                <div class="single_othersservice_content">
                                                    <p>Time is more important and I use it wisely, I build applications that are clean and user friendly. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_othersservice">
                                                <div class="single_othersservice_icon">
                                                    <h4> <span><i class="fa fa-picture-o"></i></span> FIREBASE </h4>
                                                </div>
                                                <div class="single_othersservice_content">
                                                    <p>I have worked with firebase for cloud and realtime databse services. </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="single_othersservice">
                                                <div class="single_othersservice_icon">
                                                    <h4> <span><i class="fa fa-television"></i></span> FRONT-END DESIGN</h4>
                                                </div>
                                                <div class="single_othersservice_content">
                                                    <p>Experience working with React and Node js in building front end applications.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-4">
                                            <div class="single_othersservice">
                                                <div class="single_othersservice_icon">
                                                    <h4> <span><i class="fa fa-object-group"></i></span> RUBY ON RAILS</h4>
                                                </div>
                                                <div class="single_othersservice_content">
                                                    <p>I built a complex application that involved using dynamic attributes and scoping.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="single_othersservice">
                                                <div class="single_othersservice_icon">
                                                    <h4> <span><i class="fa fa-object-group"></i></span> SERVER-SIDE RENDERING</h4>
                                                </div>
                                                <div class="single_othersservice_content">

                                                    <p>Recently, I worked on a server-side rendered React application.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="single_othersservice">
                                                <div class="s_ot_i_area">
                                                    <div class="single_othersservice_icon">
                                                        <h4><span><i class="fa fa-object-group"></i></span> JAVA PROGRAMMING</h4>
                                                    </div>
                                                </div>
                                                <div class="single_othersservice_content">

                                                    <p>I have experiencing working with Java language, developing android applications.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </section>            


            <section id="footer" class="footer_widget">
                <div class="video_overlay">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="main_widget">
                                        <div class="col-md-4">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                                <div class="footer_logo">
                                                    <img src="assets/images/mylogo.png" alt="" />
                                                </div>
                                                <p> I have experience working on libraries, frameworks and tools that span across front end and server-side development. I enjoy learning new technologies and researching on better industry standards and best practices for developing applications.</p>

                                            </div>
                                        </div>

                                        

                                        <div class="col-md-4">
                                            <div class="single_widget wow fadeIn" data-wow-duration="800ms">

                                                <div class="footer_title">
                                                    <h4>NEWSLETTER</h4>
                                                    <div class="separator"></div>
                                                </div>

                                                <div class="footer_subcribs_area">
                                                    <p>Sign up for our mailing list to get latest updates and offers.</p>
                                                    <form class="navbar-form navbar-left" role="search">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Search">
                                                            <button type="submit" class="submit_btn"></button>
                                                        </div>

                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
    
                                                    <div class="footer_title">
                                                        <h4>SITEMAP</h4>
                                                        <div class="separator"></div>
                                                    </div>
                                                    <ul>
                                                        <li><a href="">Home</a></li>
                                                        <li><a href="">About</a></li>
                                                        <li><a href="">Contact</a></li>
                                                        <li><a href="">Blog</a></li>
                                                    </ul> 
                                                </div>
                                            </div>
    
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main_footer">
                                <div class="row">

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="copyright_text">
                                            <p class=" wow fadeInRight" data-wow-duration="1s"><a href="#">The Dev Workspace | </a>&copy; 2016. All Rights Reserved</p>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 col-xs-12">
                                        <div class="flowus">
                                            <a href="https://www.linkedin.com/in/thando-ncube/"><i class="fa fa-linkedin"></i></a>
                                            <a href="https://twitter.com/thandon20"><i class="fa fa-twitter"></i></a>
                                            <a href="mailto:ncubethando20@gmail.com"><i class="fa fa-google-plus"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>









        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>

        <script src="assets/js/jquery.magnific-popup.js"></script>
        <script src="assets/js/jquery.mixitup.min.js"></script>
        <script src="assets/js/jquery.easing.1.3.js"></script>
        <script src="assets/js/jquery.masonry.min.js"></script>

        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="http://maps.google.com/maps/api/js"></script>
        <script src="assets/js/gmaps.min.js"></script>


        <script>

                                            function showmap() {
                                                var mapOptions = {
                                                    zoom: 8,
                                                    scrollwheel: false,
                                                    center: new google.maps.LatLng(-34.397, 150.644),
                                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                                };
                                                var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
                                            }
        </script>

        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
